<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashiguan2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,366},{310,270}}</string>
                <key>offset</key>
                <string>{-23,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,65},{310,270}}</string>
                <key>sourceSize</key>
                <string>{440,510}</string>
            </dict>
            <key>hejincaijidian1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,972},{124,106}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,54},{124,106}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>jianzhushejiyuan2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,664},{308,306}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{308,306}}</string>
                <key>sourceSize</key>
                <string>{352,408}</string>
            </dict>
            <key>keyanzhongxin2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{362,288}}</string>
                <key>offset</key>
                <string>{-32,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,62},{362,288}}</string>
                <key>sourceSize</key>
                <string>{440,510}</string>
            </dict>
            <key>leida2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{364,404}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,25},{364,404}}</string>
                <key>sourceSize</key>
                <string>{440,510}</string>
            </dict>
            <key>lianmengdating2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,678},{326,256}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,100},{326,256}}</string>
                <key>sourceSize</key>
                <string>{440,510}</string>
            </dict>
            <key>shiyouziyuandian1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1006},{132,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{132,120}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>weixiuchang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1006},{166,146}}</string>
                <key>offset</key>
                <string>{-23,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{166,146}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>yinhang1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1080},{150,120}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{150,120}}</string>
                <key>sourceSize</key>
                <string>{176,200}</string>
            </dict>
            <key>zhanjianguihuaju1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,972},{182,160}}</string>
                <key>offset</key>
                <string>{-19,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{182,160}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>zhujidi3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,719}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{660,719}}</string>
                <key>sourceSize</key>
                <string>{660,725}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfb1ffb0221257dd58d2b247f0ccc62e:1/1$</string>
            <key>textureFileName</key>
            <string>building.png</string>
        </dict>
    </dict>
</plist>
