<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dialog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,185}}</string>
                <key>sourceSize</key>
                <string>{600,185}</string>
            </dict>
            <key>bg_dialog2Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{594,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{594,63}}</string>
                <key>sourceSize</key>
                <string>{600,63}</string>
            </dict>
            <key>bg_dialog3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{267,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,245}}</string>
                <key>sourceSize</key>
                <string>{267,245}</string>
            </dict>
            <key>bg_dialog3bot.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{576,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,168}}</string>
                <key>sourceSize</key>
                <string>{576,168}</string>
            </dict>
            <key>icon_btnGiftB.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,904},{54,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>icon_btnGiftG.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,932},{54,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>icon_btnGiftGray.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,851},{54,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>item_quality0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,904},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>item_quality1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,851},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>item_quality2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>item_quality3.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,807},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>item_quality4.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,580},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>item_quality5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,710},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>levelup_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,596},{112,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,12}}</string>
                <key>sourceSize</key>
                <string>{114,14}</string>
            </dict>
            <key>levelup_progressbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,580},{114,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,14}}</string>
                <key>sourceSize</key>
                <string>{114,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17aceb2494abb4e7bb520cb596ada68b:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
