<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{156,147}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{156,147}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>bian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,977},{159,147}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,147}}</string>
                <key>sourceSize</key>
                <string>{163,155}</string>
            </dict>
            <key>bian_0_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,866},{220,109}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,109}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_0_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1700},{146,155}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,155}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_0_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1700},{146,109}}</string>
                <key>offset</key>
                <string>{-37,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,109}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_0_1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{146,155}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{146,155}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_0_1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1857},{146,109}}</string>
                <key>offset</key>
                <string>{37,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{146,109}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_0_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,646},{74,27}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_1_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,755},{220,109}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{220,109}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_1_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1573},{146,109}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{146,109}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_1_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,606},{38,53}}</string>
                <key>offset</key>
                <string>{-91,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{38,53}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_1_1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1484},{146,109}}</string>
                <key>offset</key>
                <string>{37,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,46},{146,109}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_1_1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,566},{38,53}}</string>
                <key>offset</key>
                <string>{91,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,50},{38,53}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>bian_1_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,722},{72,27}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,128},{72,27}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>chenchuan_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{350,237}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,66},{350,237}}</string>
                <key>sourceSize</key>
                <string>{766,539}</string>
            </dict>
            <key>chenchuan_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{277,178}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{277,178}}</string>
                <key>sourceSize</key>
                <string>{383,270}</string>
            </dict>
            <key>dankeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1372},{258,199}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{258,199}}</string>
                <key>sourceSize</key>
                <string>{330,233}</string>
            </dict>
            <key>dankeng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,432},{140,119}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,19},{140,119}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>dankeng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,654},{72,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{72,56}}</string>
                <key>sourceSize</key>
                <string>{110,78}</string>
            </dict>
            <key>feiji_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,343}}</string>
                <key>offset</key>
                <string>{30,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,49},{443,343}}</string>
                <key>sourceSize</key>
                <string>{759,543}</string>
            </dict>
            <key>feiji_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1179},{307,197}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{307,197}}</string>
                <key>sourceSize</key>
                <string>{379,271}</string>
            </dict>
            <key>hole01.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1140},{326,230}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{326,230}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hole01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1516},{182,124}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,77},{182,124}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>hole02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{156,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{156,121}}</string>
                <key>sourceSize</key>
                <string>{220,121}</string>
            </dict>
            <key>hole03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{314,204}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{314,204}}</string>
                <key>sourceSize</key>
                <string>{330,204}</string>
            </dict>
            <key>hole03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,207},{128,86}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,60},{128,86}}</string>
                <key>sourceSize</key>
                <string>{330,204}</string>
            </dict>
            <key>hole04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1857},{154,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{154,104}}</string>
                <key>sourceSize</key>
                <string>{220,110}</string>
            </dict>
            <key>lvzhou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,944},{330,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,233}}</string>
                <key>sourceSize</key>
                <string>{330,233}</string>
            </dict>
            <key>lvzhou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{440,294}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,294}}</string>
                <key>sourceSize</key>
                <string>{440,310}</string>
            </dict>
            <key>lvzhou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,298},{432,354}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{432,354}}</string>
                <key>sourceSize</key>
                <string>{440,388}</string>
            </dict>
            <key>shi01_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{388,291}}</string>
                <key>offset</key>
                <string>{28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{388,291}}</string>
                <key>sourceSize</key>
                <string>{492,367}</string>
            </dict>
            <key>shi01_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,944},{194,112}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{194,112}}</string>
                <key>sourceSize</key>
                <string>{246,184}</string>
            </dict>
            <key>shi02_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,654},{377,288}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,25},{377,288}}</string>
                <key>sourceSize</key>
                <string>{493,350}</string>
            </dict>
            <key>shi02_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,553},{200,135}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{200,135}}</string>
                <key>sourceSize</key>
                <string>{246,175}</string>
            </dict>
            <key>shi03_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{428,217}}</string>
                <key>offset</key>
                <string>{27,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{428,217}}</string>
                <key>sourceSize</key>
                <string>{548,387}</string>
            </dict>
            <key>shi03_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1378},{240,116}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,43},{240,116}}</string>
                <key>sourceSize</key>
                <string>{274,194}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1372},{142,135}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{142,135}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{203,133}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{203,133}}</string>
                <key>sourceSize</key>
                <string>{233,177}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,295},{125,135}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{159,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xindibiao1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d31274e52f60a0c4ec41f48535ed342:1/1$</string>
            <key>textureFileName</key>
            <string>xindibiao1.png</string>
        </dict>
    </dict>
</plist>
